@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

$orange: #f37353;
$sidebar: #999999;

body {
  margin: 0;
  display: flex;

  flex-wrap: wrap;
  min-height: 100vh;
  font: 500 1em lato, sans-serif;

  header {
    background-image: url(../img/baner.svg);
    width: 100vw;
    height: 5rem;
    color: #333333;
    font: 700 2.2em oswald, sans-serif;
    text-shadow: 2px 2px white;
    text-transform: uppercase;
    padding: 0.5em 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 100vw;
    background: black;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 3vw 0 3vw;
    flex-direction: row;
    justify-content: flex-end;
  }

  main {
    min-height: 80vh;
  }

  footer {
    width: 100vw;
    background: black;
    height: 3rem;
  }
}

@media (min-width: 700px) {
  body {
    justify-content: space-between;
  }

  main {
    display: flex;
    align-items: center;
  }

  aside {
    width: max-content;
    background: $sidebar;
    min-width: 320px;
  }
}

#container {
  overflow: hidden;
  position: relative;
  height: 400px;

  & > img {
    max-width: 250px;
    position: absolute;
  }
}

//////

body {
  min-width: 520px;
}
.column {
  padding: 0.5em 0 0.5em 0;
}
.portlet {
  margin: 0.5em auto 0.5em auto;
  padding: 0.3em;
  max-width: 90%;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.2em;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

#move-active {
  width: 13rem;
  height: 2.2rem;
  font-size: 0.9em;
  font-weight: 800;
  border: 0.2em solid $orange;
  color: $orange;
  background-color: lighten($orange, 33%);
}

.btn-layout {
  display: none;
  &.active {
    display: inline;
  }
}

//zad4

header.active,
main.active,
nav.active,
body.active,
aside.active,
footer.active {
}

#cover {
  visibility: hidden;
}

#cover.active {
  visibility: visible;
  z-index: 2;
  background-color: hsla(0, 0%, 100%, 0.74);

  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.column.active {
  z-index: 4;
  position: relative;

  background-color: lighten($orange, 33%);
  border: 0.15em dashed $orange;
  padding: 0.2em 0 0.2em 0;
}

//zad5

#sortable1,
#sortable2 {
  list-style-type: none;
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: #eee;
  padding: 5px;
  height: 60%;
  min-width: 15rem;
  &.active {
    z-index: 3;
    background-color: lighten($orange, 33%);
    border: 0.15em dashed $orange;
    padding: 0.2em 0 0.2em 0;
  }
}
#sortable1 li,
#sortable2 li {
  margin: 5px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  & > span {
    width: 100%;
    padding: 5px;
  }
  & > button {
    height: 80%;
    margin-right: 0.4em;
    border: 0.1em solid $orange;
    background-color: $orange;
    color: lighten($orange, 33%);
  }
}
